{% extends "_base.html" %}{% load static %} 
{% block title %} About Us {% endblock %}



{% block content %}

<div class="container my-24  mx-auto md:px-6 ">
 

</section>
</div>
<div class="container my-24  mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32">
      <div class="flex flex-wrap">
        <div class="mb-10 w-full shrink-0 grow-0 basis-auto md:mb-0     md:px-3 lg:px-6">
       


        <div
        class="flex flex-col items-start justify-start pt-0 px-0 pb-[22.40000000000009px] box-border gap-[53.6px_0px] max-w-full text-base text-gainsboro mq925:gap-[27px_0px]" >
        <div class="flex flex-col items-start justify-start max-w-full">
          <div
            class="flex flex-row items-start justify-start pt-0 px-0 pb-[9.800000000000182px] box-border max-w-full text-16xl text-white">
            <h2
              class="m-0 relative text-inherit leading-[45.5px] capitalize font-semibold font-inherit mq450:text-2xl mq450:leading-[27px] mq925:text-9xl mq925:leading-[36px]"
            >
            {{about.text1_heading}}
            </h2>
          </div>


          <div
          class="text-burlywood-100 mt-5 font-semibold mq450:text-burlywood-100 text-xl mq450:leading-[21px]">
          How it works.
        </div>

          <div class="flex flex-col items-start justify-start">
            <p class="relative leading-[27.2px]">
              {{about.text1_description}}
            </p>
           
          </div>
           <h6
              class="m-0 mt-5 relative text-inherit leading-[45.5px] capitalize font-semibold font-inherit  mq450:leading-[27px]  mq925:leading-[36px]"
            >
            {{about.text1_description2}}
            </h6>
        </div>
      </div>

        </div>
        












</section>
</div>
</div>

{% include "foot.html" %}

{% endblock content %}
