{% extends "_base.html" %}{% load static %}
{% block title %} Contact Us {% endblock %}


{% block content %}


<div
  class="grid-cols-1 sm:grid md:grid-cols-1 mq925:grid-cols-1 p-4 lg:grid-cols-1 container mx-auto"
>
  <div
    class="text-burlywood-100 font-semibold mq450:text-burlywood-100 text-xl mq450:leading-[21px]"
  >
    How It's Work
  </div>
  <div
    class="flex flex-col items-start justify-start pt-0 px-0 pb-[22.40000000000009px] box-border gap-[53.6px_0px] max-w-full text-base text-gainsboro mq925:gap-[27px_0px]"
  >
    <div class="flex flex-col items-start justify-start max-w-full">
      <div
        class="flex flex-row items-start justify-start pt-0 px-0 pb-[9.800000000000182px] box-border max-w-full text-16xl text-white"
      >
        <h2
          class="m-0 relative text-inherit leading-[45.5px] capitalize font-semibold font-inherit mq450:text-2xl mq450:leading-[27px] mq925:text-9xl mq925:leading-[36px]"
        >
          Four Steps for Getting an Appointment
        </h2>
      </div>
      <div class="flex flex-col items-start justify-start">
        <div class="relative leading-[27.2px]">
          Start your journey by exploring our wide range of salon and parlour
          services.
        </div>
        <div class="relative leading-[27.2px] z-[1] mt-[-0.1px]">
          From haircuts to facials, and nails to massages, we have it all.
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="grid grid-cols-4 sm:grid md:grid-cols-4 mq925:grid-cols-2 p-4 lg:grid-cols-2 container mx-auto gap-3"
>
  <div
    class="flex flex-col self-start sm:shrink-0 sm:grow sm:basis-0 w-4/5 mq925:w-11/12 md:w-11/12 p-5 hover:bg-slategray  [background:linear-gradient(89.61deg,_#203040_35.42%,#203040C9_50.52%,#25374A98_65.11%,#25374A98_78.13%,#25374A73)] border text-center border-burlywood-100 rounded-lg shadow"
  >
    <svg
      class="w-7 h-7 mx-auto text-burlywood-100 mb-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="M18 5h-.7c.229-.467.349-.98.351-1.5a3.5 3.5 0 0 0-3.5-3.5c-1.717 0-3.215 1.2-4.331 2.481C8.4.842 6.949 0 5.5 0A3.5 3.5 0 0 0 2 3.5c.003.52.123 1.033.351 1.5H2a2 2 0 0 0-2 2v3a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V7a2 2 0 0 0-2-2ZM8.058 5H5.5a1.5 1.5 0 0 1 0-3c.9 0 2 .754 3.092 2.122-.219.337-.392.635-.534.878Zm6.1 0h-3.742c.933-1.368 2.371-3 3.739-3a1.5 1.5 0 0 1 0 3h.003ZM11 13H9v7h2v-7Zm-4 0H2v5a2 2 0 0 0 2 2h3v-7Zm6 0v7h3a2 2 0 0 0 2-2v-5h-5Z"
      />
    </svg>
    <p class="mb-3 font-normal text-gainsboro">Step 1</p>
    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-white">
      Explore Our Services
    </h5>
  </div>
  <div
    class="flex flex-col self-start sm:shrink-0 sm:grow sm:basis-0 w-4/5 mq925:w-11/12 md:w-11/12 p-5 hover:bg-slategray  [background:linear-gradient(89.61deg,_#203040_35.42%,#203040C9_50.52%,#25374A98_65.11%,#25374A98_78.13%,#25374A73)] border text-center border-burlywood-100 rounded-lg shadow"
  >
    <svg
      class="w-7 h-7 mx-auto text-burlywood-100 mb-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="M18 5h-.7c.229-.467.349-.98.351-1.5a3.5 3.5 0 0 0-3.5-3.5c-1.717 0-3.215 1.2-4.331 2.481C8.4.842 6.949 0 5.5 0A3.5 3.5 0 0 0 2 3.5c.003.52.123 1.033.351 1.5H2a2 2 0 0 0-2 2v3a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V7a2 2 0 0 0-2-2ZM8.058 5H5.5a1.5 1.5 0 0 1 0-3c.9 0 2 .754 3.092 2.122-.219.337-.392.635-.534.878Zm6.1 0h-3.742c.933-1.368 2.371-3 3.739-3a1.5 1.5 0 0 1 0 3h.003ZM11 13H9v7h2v-7Zm-4 0H2v5a2 2 0 0 0 2 2h3v-7Zm6 0v7h3a2 2 0 0 0 2-2v-5h-5Z"
      />
    </svg>
    <p class="mb-3 font-normal text-gainsboro">Step 2</p>
    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-white">
      Explore Our Services
    </h5>
  </div>
  <div
    class="flex flex-col self-start sm:shrink-0 sm:grow sm:basis-0 w-4/5 mq925:w-11/12 md:w-11/12 p-5 hover:bg-slategray  [background:linear-gradient(89.61deg,_#203040_35.42%,#203040C9_50.52%,#25374A98_65.11%,#25374A98_78.13%,#25374A73)] border text-center border-burlywood-100 rounded-lg shadow"
  >
    <svg
      class="w-7 h-7 mx-auto text-burlywood-100 mb-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="M18 5h-.7c.229-.467.349-.98.351-1.5a3.5 3.5 0 0 0-3.5-3.5c-1.717 0-3.215 1.2-4.331 2.481C8.4.842 6.949 0 5.5 0A3.5 3.5 0 0 0 2 3.5c.003.52.123 1.033.351 1.5H2a2 2 0 0 0-2 2v3a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V7a2 2 0 0 0-2-2ZM8.058 5H5.5a1.5 1.5 0 0 1 0-3c.9 0 2 .754 3.092 2.122-.219.337-.392.635-.534.878Zm6.1 0h-3.742c.933-1.368 2.371-3 3.739-3a1.5 1.5 0 0 1 0 3h.003ZM11 13H9v7h2v-7Zm-4 0H2v5a2 2 0 0 0 2 2h3v-7Zm6 0v7h3a2 2 0 0 0 2-2v-5h-5Z"
      />
    </svg>
    <p class="mb-3 font-normal text-gainsboro">Step 3</p>
    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-white">
      Explore Our Services
    </h5>
  </div>
  <div
    class="flex flex-col self-start sm:shrink-0 sm:grow sm:basis-0 w-4/5 mq925:w-11/12 md:w-11/12 p-5 hover:bg-slategray  [background:linear-gradient(89.61deg,_#203040_35.42%,#203040C9_50.52%,#25374A98_65.11%,#25374A98_78.13%,#25374A73)] border text-center border-burlywood-100 rounded-lg shadow"
  >
    <svg
      class="w-7 h-7 mx-auto text-burlywood-100 mb-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="M18 5h-.7c.229-.467.349-.98.351-1.5a3.5 3.5 0 0 0-3.5-3.5c-1.717 0-3.215 1.2-4.331 2.481C8.4.842 6.949 0 5.5 0A3.5 3.5 0 0 0 2 3.5c.003.52.123 1.033.351 1.5H2a2 2 0 0 0-2 2v3a1 1 0 0 0 1 1h18a1 1 0 0 0 1-1V7a2 2 0 0 0-2-2ZM8.058 5H5.5a1.5 1.5 0 0 1 0-3c.9 0 2 .754 3.092 2.122-.219.337-.392.635-.534.878Zm6.1 0h-3.742c.933-1.368 2.371-3 3.739-3a1.5 1.5 0 0 1 0 3h.003ZM11 13H9v7h2v-7Zm-4 0H2v5a2 2 0 0 0 2 2h3v-7Zm6 0v7h3a2 2 0 0 0 2-2v-5h-5Z"
      />
    </svg>
    <p class="mb-3 font-normal text-gainsboro">Step 4</p>
    <h5 class="mb-2 text-2xl font-semibold tracking-tight text-white">
      Explore Our Services
    </h5>
  </div>
</div>

<section class="bg-transparent container my-24 mx-auto md:px-6">

    <div class="mb-32">
       
        <div class="flex flex-wrap">
            <div class="mb-10 w-full shrink-0 grow-0 basis-auto md:mb-0 md:w-6/12 md:px-3 lg:px-6">
              <h2 class="mb-6 text-3xl text-white font-bold">Contact us</h2>
              <p class="mb-6 text-gainsboro ">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium, modi accusantium ipsum corporis quia asperiores
                dolorem nisi corrupti eveniet dolores ad maiores repellendus enim
                autem omnis fugiat perspiciatis? Ad, veritatis.
              </p>
              <p class="mb-2 text-gainsboro">
              {{about.address}}
              </p>
              <p class="mb-2 text-gainsboro">
                {{about.phone_number}}

              </p>
              <p class="mb-2 text-gainsboro">
                {{about.email}}
              </p>
            </div>
       
    <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:mb-0 md:w-6/12 md:px-3 lg:px-6 ">
        <form method="POST" class="space-y-8">
        {% csrf_token %}
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-white">Your email</label>
                <input type="email" name="email" id="email" class=" bg-slategray border border-gray-700 text-white sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5  " placeholder="name@gmaild.com" required>
            </div>
            <div>
                <label for="subject" class="block mb-2 text-sm font-medium text-white">Subject</label>
                <input type="text" name="subject" id="subject" class=" bg-slategray border border-gray-700 text-white sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 " placeholder="Let us know how we can help you" required>
            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-white">Your message</label>
                <textarea id="message" name="message" rows="6" class=" bg-slategray border border-gray-700 text-white sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 " placeholder="Leave a comment..."></textarea>
            </div>
            <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary sm:w-fit hover:bg-primary-300 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Send message</button>
        </form>
    </div>

    </div>
  </section>
{% include "foot.html" %}

{% endblock content %}