{% extends "_base.html" %}{% load static %}
{% block title %} Contact Us {% endblock %}


{% block content %}




<section class="bg-transparent container my-24 mx-auto md:px-6">

    <div class="mb-32">
       
        <div class="flex flex-wrap">
            <div class="mb-10 w-full shrink-0 grow-0 basis-auto md:mb-0 md:w-6/12 md:px-3 lg:px-6">
              <h2 class="mb-6 text-3xl text-white font-bold">Contact us</h2>
              
              <p class="mb-2 text-gainsboro">
              {{about.address}}
              </p>
              <p class="mb-2 text-gainsboro">
                {{about.phone_number}}

              </p>
              <p class="mb-2 text-gainsboro">
                {{about.email}}
              </p>
            </div>
       
    <div class="mb-12 w-full shrink-0 grow-0 basis-auto md:mb-0 md:w-6/12 md:px-3 lg:px-6 ">
        <form method="POST" class="space-y-8">
        {% csrf_token %}
            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-white">Your email</label>
                <input type="email" name="email" id="email" class=" bg-slategray border border-gray-700 text-white sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5  " placeholder="name@gmaild.com" required>
            </div>
            <div>
                <label for="subject" class="block mb-2 text-sm font-medium text-white">Subject</label>
                <input type="text" name="subject" id="subject" class=" bg-slategray border border-gray-700 text-white sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 " placeholder="Let us know how we can help you" required>
            </div>
            <div class="sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-white">Your message</label>
                <textarea id="message" name="message" rows="6" class=" bg-slategray border border-gray-700 text-white sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 " placeholder="Leave a comment..."></textarea>
            </div>
            <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary sm:w-fit hover:bg-primary-300 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Send message</button>
        </form>
    </div>

    </div>
  </section>
{% include "foot.html" %}

{% endblock content %}