{% load static %} 


<footer class="bg-transparent   mt-20">
  <div class="mx-auto w-full max-w-screen container p-4 py-6 lg:py-8">
      <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0">
            <a href="{%url 'index'%}" class="flex items-center">
                <img src="{{about.logoimage.url}}" class="h-8 me-3" alt="{{about.company}}" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">{{about.company}}</span>
            </a>
        </div>
        <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
      
        
            <div>
                <h2 class="mb-6 text-sm font-semibold uppercase text-white">Legal</h2>
                <ul class="text-gray-500 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="{% url 'privacy' %}" class="hover:underline hover:text-burlywood-100">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="{%url 'terms' %}" class="hover:underline hover:text-burlywood-100">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="my-6 border-bg2 sm:mx-auto  lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="{%url 'index'%}" class="hover:underline">Glo-Now</a>. All Rights Reserved.
        </span>
        <div class="flex mt-4 sm:justify-center sm:mt-0">
            <a href="{{about.fburl}}" class="text-white hover:text-burlywood-100">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
                      <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
                  </svg>
                <span class="sr-only">Facebook page</span>
            </a>
        
        </div>
    </div>
  </div>
</footer>
