{% load static %}


<section
  class="mb-10 p-8 container mx-auto  text-white font-montserrat"
>
  {% comment %} <div class="absolute  mq925:w-full w-full">
    <div
      id="default-carousel"
      class="absolute z-[2] mq925:w-full w-full"
      data-carousel="slide"
    >
      <div class="overflow-hidden relative   heroimg">
        <div class="hidden duration-700 ease-linear" data-carousel-item>
          <img class="absolute  heroimg right-0 w-2/3 mq925:w-full object-cover
          z-[2]" alt="" src="{%static "image/footer@2x.png"%}" />
        </div>
        <div class="hidden duration-700 ease-linear" data-carousel-item>
          <img class="absolute   heroimg right-0 w-2/3 mq925:w-full object-cover
          z-[2]" alt="" src="{%static "image/div-banner-section-bg-5dp.png"%}"
          />
        </div>
      
      </div>
    </div>
  </div>

  <div
    class="absolute   heroimg top-[0px] left-[-0.5px] mq925:w-full mq450:w-full [background:linear-gradient(89.61deg,_#203040_35.42%,#203040C9_50.52%,#25374A98_65.11%,#25374A98_78.13%,#25374A98)] w-full flex flex-col items-start justify-start box-border max-w-full z-[3]"
  ></div>
  <div
    class="absolute left-10 mq450:left-5 top-1/4 mq825:top-1/6 mq450:top-10  flex flex-col items-start justify-start gap-[24px_0px] max-w-full"
  > {% endcomment %}
    <div
      class="flex flex-col items-center justify-start gap-[7px_0px] max-w-full"
    >
      <div
        class="flex flex-row items-end justify-start gap-[0px_8px] max-w-full"
      >
       
      </div>
      <b
        class="self-stretch text-white font-montserrat  tracking-[-0.01em] leading-[115%] text-21xl capitalize font-semibold mq450:text-11xl mq450:leading-[39px] mq925:text-21xl text-light z-[5] mq825:leading-[64px] mq450:leading-[48px]"
      >
        <p class="m-0">Half Price Hairdos at Top Salons in Your City!</p>
      </b>
    </div>
    <div
      class="self-stretch relative text-lg leading-[170%] text-mintcream z-[5]"
    >
      
      <div
        class=" leading-[27.2px] text-gainsboro"
      >
      Pay a $10 booking fee to get 50% OFF at the best hair salons & barbershops
      </div>
      
    </div>
    {%if not has%}
    {% include "howitwork.html" %}
    {%endif%}
{%if hasbutton%}
  
  {%endif%}
  </div>
  {% comment %}
  <div
    class="heading-container absolute flex justify-center items-center w-full"
  >
    <h1 class="text-5xl text-white">Your dream vacation starts here</h1>
  </div>
  {% endcomment %}
</section>
<div class="mb-10 p-8 container mx-auto  text-white font-montserrat">
</div>
