{% load static %}
{% load mytags %}

<section
  class="quote-form z-[5] relative p-8 container mx-auto rounded-lg bg-bg2 container"
>
      <form class=""  method='POST' action="{% url 'postlist' %}">
  <div class="grid gap-6 md:grid-cols-3 mq825:grid-cols-2 mq450:grid-cols-1">
                      
       <div class="relative">
        {% csrf_token %} 
        
        
       

   
    <select id="countries" name="regions" required="" class="bg-slategray text-left border border-gray-700 text-white p-2 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full ps-10 p-2.5 p-4">
    
      {%for id,name in forms.regions.field.choices %}
      <option 
     
      value="{{id}}" >{{name}}</option>
  {%endfor%}
    </select>

  </div>
  <div>

    <select id="saloontype" name="saloontype" required="" class="bg-slategray text-left border border-gray-700 text-white p-2 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full ps-10 p-2.5 p-4">
    
      {%for id,name in forms.saloontype.field.choices %}
      <option 
     
      value="{{id}}">{{name}}</option>
  {%endfor%}
    </select>

  </div>

    <button
    type="submit" class="bg-burlywood-100 text-center hover:drop-shadow-[0_5px_5px_#CCA87662] text-white font-bold py-2 rounded mq765:w-full "
    >
      Filter
    </button>
  </div>
</form>
</section>
