{% extends "_base.html" %}{% load static %} 
{% block title %} Terms  {% endblock %}



{% block content %}

<div class="mt-5">
  <div class="container  text-white mx-auto p-2">
    <div
    class="flex flex-row items-start justify-start pt-0 px-0 pb-[9.800000000000182px] box-border max-w-full text-16xl text-white"
  >    <h1 class='m-0 relative text-inherit leading-[45.5px] capitalize font-semibold font-inherit mq450:text-2xl mq450:leading-[27px] mq925:text-9xl mq925:leading-[36px]' >Privacy Policy for Glow</h2>
  </div>
 
    <p class='leading-[27.2px] mt-5 tracking-[1] text-lg text-gainsboro'>
      At glow, we understand the importance of privacy and are committed to
      protecting the personal information of our users. We believe in being
      transparent about our data collection and usage practices, and this
      privacy policy outlines what information we collect, how we use it, and
      who we share it with.
    </p>
 
    <div
    class="flex flex-row items-start justify-start pt-0 px-0 pb-[9.800000000000182px] box-border max-w-full text-9xl text-white mt-5"
  >    <h1 class='m-0 relative text-inherit leading-[45.5px] capitalize font-semibold font-inherit mq450:text-2xl mq450:leading-[27px] mq925:text-9xl mq925:leading-[36px]' >Information Collection:</h2>
  </div>
 
   
   
   
    <p class='leading-[27.2px] mt-5 tracking-[1] text-lg text-gainsboro'>
      glow collects the following types of personal information from its
      users:
    </p>
    <ul class='max-w-md space-y-1 text-gainsboro list-inside dark:text-gray-400'>
    
      <li class="flex items-center">
        <svg class="w-3.5 h-3.5 me-2 text-primary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
         </svg>
         Name
    </li>
    <li class="flex items-center">
        <svg class="w-3.5 h-3.5 me-2 text-primary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
         </svg>
         Phone Number
    </li>
    <li class="flex items-center">
        <svg class="w-3.5 h-3.5 me-2 text-primary flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
         </svg>
         Profile image
    </li>
    </ul>

    
   <p class='leading-[27.2px] mt-5 mb-2 tracking-[1] text-lg text-gainsboro'>
      The information is collected when the user creates an account with glow
      or updates their profile information. The profile image is optional, and
      the user has the choice of whether or not to upload it.
    </p>




    <div
    class="flex flex-row items-start justify-start pt-0 px-0 pb-[9.800000000000182px] box-border max-w-full text-9xl text-white mt-5"
  >    <h1 class='m-0 relative text-inherit leading-[45.5px] capitalize font-semibold font-inherit mq450:text-2xl mq450:leading-[27px] mq925:text-9xl mq925:leading-[36px]' >Information Use:</h2>
  </div>
   
   
   
    <p class='leading-[27.2px] mt-5   mb-2 tracking-[1] text-lg text-gainsboro'>
      glow uses the personal information collected from its users for the
      following purposes:
    </p>
    <ul class="">
      <li>To provide a personalized experience for the user</li>
      <li>To send notifications and updates about the app</li>
      <li>
        To improve the app and its features based on user feedback and usage patterns
      </li>
      <li>To comply with legal obligations and to resolve disputes</li>
    </ul>
    <h3 class='text-inherit  mb-2  mt-2 leading-[45.5px] text-xl font-semibold font-inherit mq450:text-2xl mq450:leading-[27px] mq925:text-9xl mq925:leading-[36px]' ><strong>Information Sharing:</strong></h3>
   <p class='leading-[27.2px] mt-5  mb-2 tracking-[1] text-lg text-gainsboro'>
      glow does not share any of the personal information collected from its
      users with third parties, except in the following cases:
    </p>
    <ul>
      <li>When required by law</li>
      <li>To protect the rights and safety of glow and its users</li>
      <li>To enforce our terms of service</li>
    </ul>
    <h3 class='text-inherit leading-[45.5px]  mb-2  mt-2 text-xl font-semibold font-inherit mq450:text-2xl mq450:leading-[27px] mq925:text-9xl mq925:leading-[36px]' ><strong>Data Security:</strong></h3>
   <p class='leading-[27.2px] mt-5 tracking-[1] text-lg text-gainsboro'>
      glow takes the security of its users' personal information seriously and
      has implemented appropriate technical and organizational measures to
      protect it. However, please note that no data transmission or storage can
      be guaranteed to be 100% secure.
    </p>
    <h3 class='text-inherit  mt-2  mb-2 leading-[45.5px] text-xl font-semibold font-inherit mq450:text-2xl mq450:leading-[27px] mq925:text-9xl mq925:leading-[36px]' ><strong>Contact Information:</strong></h3>
   <p class='leading-[27.2px] mt-5 tracking-[1] text-lg text-gainsboro'>
      If you have any questions or concerns regarding glow privacy policy or
      the information we collect, you can contact us at:
    </p>
    <ul>
      <li>Email: support@glow.com</li>
    </ul>
    <h3 class='text-inherit  mt-2 leading-[45.5px] text-xl font-semibold font-inherit mq450:text-2xl mq450:leading-[27px] mq925:text-9xl mq925:leading-[36px]' ><strong>Changes to Privacy Policy:</strong></h3>
   <p class='leading-[27.2px]  mb-2 mt-5 tracking-[1] text-lg text-gainsboro'>
      glow reserves the right to modify this privacy policy at any time. We
      will notify our users of any significant changes by posting a notice on
      our app or website and by updating the "Last Updated" date at the top of
      this policy. We encourage our users to regularly review this privacy
      policy to stay informed about how we are protecting their personal
      information.
    </p>
   <p class='leading-[27.2px] mt-5 tracking-[1] text-lg text-gainsboro'></p>
  </div>
</div>
{% include "foot.html" %}

{% endblock content %}
