{% extends "_base.html" %}{% load static %} 
{% block title %} Terms  {% endblock %}



{% block content %}

<div class="mt-5">
  <div class="container  text-white mx-auto p-2">
    <div
    class="flex flex-row items-start justify-start pt-0 px-0 pb-[9.800000000000182px] box-border max-w-full text-16xl text-white"
  >    <h2 class='m-0 relative text-inherit leading-[45.5px] capitalize font-semibold font-inherit mq450:text-2xl mq450:leading-[27px] mq925:text-9xl mq925:leading-[36px]' >Terms and Conditions
    
    </h2>
 
  </div>
(Last updated 5 May 2024)
  <div
  class="flex flex-row items-start justify-start pt-0 px-0 pb-[9.800000000000182px] box-border max-w-full text-9xl text-white mt-5"
>    <h2 class='m-0 relative text-inherit leading-[45.5px] capitalize font-semibold font-inherit mq450:text-2xl mq450:leading-[27px] mq925:text-9xl mq925:leading-[36px]' >General Terms and Conditions</h2>
</div>
    <p class='leading-[27.2px] mt-5 tracking-[1] text-lg text-gainsboro'>
      Welcome to Glo-Now's Terms and Conditions for use.
This legal notice applies to the contents of the website under the domain name https://glo-now.com ("Website").

Please read this agreement carefully. These represent the Terms and conditions for using this service. If you do not agree to these, you may not use this Website.

You are permitted to use our Website solely on the basis of these Terms and Conditions. We reserve the right, at our discretion, to update and/or revise these Terms and Conditions. Please check periodically for changes.

    </p>
    <h3 class='text-inherit  mb-2  mt-2 leading-[45.5px] text-xl font-semibold font-inherit mq450:text-2xl mq450:leading-[27px] mq925:text-9xl mq925:leading-[36px]' ><strong>1. Use of the website
    </strong></h3>
    <p class="leading-[27.2px] mt-5 tracking-[1] text-lg text-gainsboro">
    <strong> 1.1</strong> Subject to these Terms and Conditions you are authorised to view and download our Website for your personal use only. Glo-Now may change, suspend or discontinue the Website at any time, including the availability of any feature, database, or content. Glo-Now may also impose limits on certain features and services or restrict your access to parts or all of this Website without notice or liability.
    </br>
  </br>
    
  <strong> 1.2</strong> You shall be responsible for obtaining and maintaining any equipment or ancillary services needed to connect to, access or otherwise use the Website, including, without limitation, modems, hardware, software, and long distance or local telephone service.
    </br>
  </br>

  <strong> 1.3 </strong>The Website may contain additional terms (for example conduct guidelines) that further govern the use of that Glo-Now Website, including without limitation particular features or offers (for example competitions). If any Terms and Conditions contained in this agreement conflict with any Terms and Conditions contained within a Glo-Now Website, then the Terms and Conditions in this agreement shall prevail.
    </br>
  </br>
      
  <strong> 1.4 </strong> Without affecting any of your statutory rights that cannot be lawfully excluded, Glo-Now is not liable under any circumstances (including, but not limited to, negligence) for any losses, damages, liability, claims or expenses (whatsoever and irrespective of whether direct, indirect, consequential) arising from the use of the Website or the Services or from the use of, or inability to use, any service booked or purchased using the Website.
      
    </p>
    <h3 class='text-inherit  mb-2  mt-2 leading-[45.5px] text-xl font-semibold font-inherit mq450:text-2xl mq450:leading-[27px] mq925:text-9xl mq925:leading-[36px]' ><strong>2. Registration and security
    </strong></h3>

    <p class="leading-[27.2px] mt-5 tracking-[1] text-lg text-gainsboro">
      <strong> 2.1</strong> To register with Glo-Now and purchase goods from our Website you must be over eighteen years of age. You must ensure that the details provided by you on registration or at any time are correct and complete. You must inform us immediately of any changes to the information that you provided when registering by updating your personal details. You must give us your real name, phone number, email address and any other details that we may require to process your booking.
      </br>
    </br>
      
    <strong> 2.2</strong> We reserve the right to decline a new customer registration or suspend a customer’s account at any time and at our sole discretion.
      </br>
    </br>
  
    <strong>2.3 </strong>Glo-Now reserves the right, in our absolute discretion, to terminate your access to all or part of the services with or without notice.
      </br>
    </br>
        
    <strong> 2.4 </strong> Glo-Now reserves the right in our absolute discretion to discontinue the Website or services, or any part thereof, at any time, with or without notice.
    <strong> 2.5 </strong> Glo-Now may change the Website or delete features in any way, at any time and for any reason.


        
        
      </p>
      <h3 class='text-inherit  mb-2  mt-2 leading-[45.5px] text-xl font-semibold font-inherit mq450:text-2xl mq450:leading-[27px] mq925:text-9xl mq925:leading-[36px]' ><strong>3. Member conduct
      </strong></h3>

      <p class="leading-[27.2px] mt-5 tracking-[1] text-lg text-gainsboro">
        <strong> 3.1</strong>  You may not use the Website for any of the following purposes:
        </br>
        <p>Disseminating any unlawful, harassing, libellous, abusive, threatening, harmful, vulgar, obscene, or otherwise objectionable material.</p>
      </br>
      <p>Transmitting material that is or which encourages conduct that constitutes a criminal offence, results in civil liability or otherwise breaches any relevant laws, regulations or code of practice.</p>
      </br>
      <p>Gaining unauthorised access to other computer systems.
    </p>
  </br>
  <p>Interfering with any other person's use or enjoyment of the Website.

    </p> 
    
  </br>
  <p>Breaching any laws concerning the use of public telecommunications networks.


    </p>
    
  </br>
  <p>Interfering or disrupting networks or websites connected to the Website.



    </p>
    
  </br>
  <p>Making, transmitting or storing electronic copies of materials protected by copyright without the permission of the owner.

    </br>
      Engaging in technically harmful behaviour, which includes but is not limited to: computer viruses, logic bombs, trojan horses, worms, harmful components, corrupted data and other malicious software or harmful data.




    </p>
      </br>
        
      <strong> 3.2</strong> Glo-Now reserves the right to refuse to post material on our Website or to remove material already posted on the Website. 

        </br>
    
          
          
        </p>


        <h3 class='text-inherit  mb-2  mt-2 leading-[45.5px] text-xl font-semibold font-inherit mq450:text-2xl mq450:leading-[27px] mq925:text-9xl mq925:leading-[36px]' ><strong>4. Privacy

        </strong></h3>

        <p class="leading-[27.2px] mt-5 tracking-[1] text-lg text-gainsboro">
          <strong> 4.1</strong> Registration data and certain other information about you is subject to our Privacy Policy, which includes important information about Glo-Now's use of cookies on this website. You can read Glo-Now's Privacy Policy here.
        </p>






        <h3 class='text-inherit  mb-2  mt-2 leading-[45.5px] text-xl font-semibold font-inherit mq450:text-2xl mq450:leading-[27px] mq925:text-9xl mq925:leading-[36px]' ><strong>5. Booking terms and conditions 


        </strong></h3>

        <p class="leading-[27.2px] mt-5 tracking-[1] text-lg text-gainsboro">
          The Glo-Now offer of 50% off the confirmed service is only available to new clients of the relevant salon (unless otherwise specified by the salon).
        </br>
      </br>
        Your appointment confirmation will be delivered to you by email. Present the reservation confirmation (on your phone or printed out) at the specified salon on the date and time of your booking.
      </br>
    </br>
      You are entitled to the Glo-Now offer of 50% off the confirmed service, as detailed on your appointment confirmation for the specified salon, at the date and time shown. Any additional charges (such as extra services, home care product purchases etc.) will be calculated on the whole bill and are not subject to the Glo-Now offer.
    </br>
  </br>
    The Glo-Now offer is available for the person named on the appointment confirmation only. The Glo-Now offer will not be upheld, and your booking fee will be forfeited if someone other than the person named on the confirmation attend the appointment.
  </br>
</br>
  To amend your appointment, you must contact the salon directly.
</br>
</br>
You must arrive for your appointment on time – no exceptions. Late arrivals will not qualify for the Glo-Now offer. The salon is not obliged to honour the discount or the appointment in the instance where you arrive at the salon after the time specified on your appointment confirmation.
</br>
</br>
The Glo-Now offer cannot be combined with any other offers, in-salon specials, discounts or promotions unless otherwise specified by the salon.
</br>
</br>
Glo-Now bookings cannot be combined – a maximum of one appointment can be booked at any time with a salon.
</br>
</br>
No refunds. Except when a salon cannot accommodate your appointment for any reason other than you arriving after the time specified on your reservation confirmation.
</br>
</br>
This appointment booking is not exchangeable for cash and is not permitted for resale.
</br>
Cancellations are permitted, but the booking fee may be non-refundable. Refer to our Cancellation Policy for details and information on how to cancel.
</br>
</br>
Glo-Now reserves the absolute right to cancel and refund any confirmed booking resulting from an error or incorrect information presented on the website, such as, but not limited to, availability errors.
</br>
</br>
Appointments are not transferable to another date, venue or time.
</br>
</br>
Users can make a public or private review of their salon experience. Refer to our Review Guidelines to ensure your review complies.
</br>
</br>
By using this platform, you acknowledge and agree that we accept no liability for the accuracy or currency of services, pricing or photos provided by salons.</p>

</br>




<h3 class='text-inherit  mb-2  mt-2 leading-[45.5px] text-xl font-semibold font-inherit mq450:text-2xl mq450:leading-[27px] mq925:text-9xl mq925:leading-[36px]' ><strong>Business Information
 


</strong></h3>
<p class="leading-[27.2px] mt-5 tracking-[1] text-lg text-gainsboro">This website is operated by Glo-Now Limited, 1/57 Geraldine Street, Christchurch 8013, New Zealand.</p>
    <div
    class="flex flex-row items-start justify-start pt-0 px-0 pb-[9.800000000000182px] box-border max-w-full text-9xl text-white mt-5"
  >    <h1 class='m-0 relative text-inherit leading-[45.5px] capitalize font-semibold font-inherit mq450:text-2xl mq450:leading-[27px] mq925:text-9xl mq925:leading-[36px]' >Terms and Conditions for Salon Owners
  </h2>
  </div>
 
   
   
   
    <p class='leading-[27.2px] mt-5 tracking-[1] text-lg text-gainsboro'>
      By using our platform to advertise your salon appointments, you agree to the following terms and conditions:

    </p>


    <ul>
    </br>
    <strong>Glo-Now Offer Discount:</strong> You agree to honor the 50% discount promised in the Glo-Now offer for appointments advertised through our platform. This discount will be applied to the regular price of the service.
    </br>
  </br>
    <strong>Availability of Advertised Appointments:</strong>	 You warrant that all appointments you advertise on our platform are available and can be booked by customers without any restrictions or limitations<li>⦁	Communication and Changes: You agree to promptly notify us and the customer if there are any changes or cancellations to the appointment that you have advertised. This includes rescheduling, cancellations, or any other adjustments. </br>
      
    </br>
      
      <strong>Booking Fee:</strong>
      
    You acknowledge that customers booking appointments through our platform will be charged a $10 booking fee. This fee is non-refundable and will be retained by our platform</br>
    
  </br>
    
    
    <strong>Payment and Fees:</strong>
   Payment and Fees: You agree to receive payments directly from the user for the services provided in appointments booked through our platform.
    </br>
  </br>
    <strong>PaQuality of Service:</strong>
    Quality of Service: You commit to providing high-quality services to customers who book appointments through our platform, maintaining professional standards and customer satisfaction.
    </br>
  </br>
    <strong>Compliance with Laws</strong>
   	Compliance with Laws: You agree to comply with all relevant laws and regulations governing the provision of salon services, including health, safety, and licensing requirements.
  </br>
</br>
  <strong>Indemnification:</strong>
   You indemnify and hold harmless our platform, its affiliates, employees, and agents from any claims, damages, or liabilities arising from your use of our platform or any breach of these terms and conditions.
</br>
</br>
<strong>Termination:</strong>
We reserve the right to terminate your access to our platform or remove your listings if you violate these terms and conditions or engage in any fraudulent, unethical, or illegal activities.
    </br>
  </br>
<strong>Governing Law</strong>
Governing Law: These terms and conditions are governed by the laws of New Zealand, and any disputes arising out of or relating to these terms shall be resolved in New Zealand.
    </br>
  </br>
    
    </ul>

    <p class='leading-[27.2px] mt-5 tracking-[1] text-lg text-gainsboro'>
      By using our platform, you acknowledge that you have read, understood, and agree to abide by these terms and conditions. Failure to comply with these terms may result in penalties or termination of your account.

    </p>



    


  </div>
</div>
{% include "foot.html" %}

{% endblock content %}
